body {
  font-family: sans-serif;
  padding: 1em;
}

.ais-ClearRefinements {
  margin: 1em 0;
}

.ais-SearchBox {
  margin: 1em 0;
}

.ais-Pagination {
  margin-top: 1em;
}

.ais-InstantSearch {
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
}

.ais-Hits-item {
  margin-bottom: 1em;
  width: calc(50% - 1rem);
  border-radius: 5px;
}

.hit-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.hit-title-txt {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  line-height: 25px;
  padding-right: 20px;

}

.hit-txt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

.hit-school-line {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.hit-school {
  font-size: 14px;
  font-weight: 300;
  color: #666;
  line-height: 20px;
  margin-right: 10px;
  flex-shrink: 0;
}


.hit-info {
  display: inline-block;
  padding: 3px 7px;
  font-size: 12px;
  color: #666;
  line-height: 17px;
  background: #f5f5f5;
  border-radius: 3px;
  margin-right: 6px;
  margin-bottom: 5px;
}

.hit-headcount {
  color: firebrick;
  font-size: 18px;
  line-height: 22px;
  flex-shrink: 0;
}

.hit-line {
  font-size: 14px;
  font-weight: 300;
  color: #666;
  line-height: 20px;
  margin-right: 10px;
  flex-shrink: 0;
}

.hit-labels {
  display: flex;
  margin-bottom: 11px;
  flex-wrap: wrap;
}